//colors
$white:         #fff;
$opaque-white:   rgba(255,255,255,.75);
$off-white:     #f7f7f7;
$black:         #232323;
$off-black:     #3b3b3b;
$opaque-black:   rgba(0,0,0,.85);
$dark-grey:     #454545;
$light-grey:    #878787;
$dark-blue:     #121e2d;
$opaque-blue:    rgba(18, 30, 45, .95);
$red-orange:    #FF4141;