@import "./Colors";

//Breakpoints
$phone: 767px;
$tablet-min: 768px;
$tablet-max: 1024px;
$desktop: 1025px;

//Flex stuff
.center-all-flex{
  display: flex;
  display: -webkit-flex; /* Safari */
  justify-content: center;
  align-items: center;
}

.flex-row{
  flex-direction: row;
}

.flex-column{
  flex-direction: column;
}

//Etc
.no-show-phone{
  @media screen and (max-width: $phone) {
    display: none;
  }
}

.no-show-tab{
  @media screen and (max-width: $tablet-max) {
    display: none;
  }
}

.center{
  text-align: center;
}

.caps{
  font-variant: small-caps;
}

.shadow{
  box-shadow: 0 1px 5px rgba(0,0,0,0.12), 0 1px 5px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.shadow-grow {
  &:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
}

@mixin darken($color){
  &:hover{
    background-color: darken($color, 4);
  }

}

//underline code from Bogdan Blinnikov - https://codepen.io/bonkalol/pen/tduoG?editors=1100
.underline {
  position: relative;
  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    &:after {
      width: 100%;
    }
  }

  &:after {
    content: '';
    position: absolute;
    left: 0; bottom: -3px;
    height: 2px;
    background-color: $red-orange;
    width: 0;
    transition: width .4s;
  }
}

.section-title{
  font-family: $primary-font;
  color: $red-orange;
  font-size: 2.5em;
  margin-bottom: 50px;
  span{
    margin: 0 5px;
  }
  @media screen and (max-width: $phone) {
    font-size: 1.75em;
    margin-bottom: 25px;
  }
}

.sub-title{
  color: $red-orange;
  font-size: 1.5em;
  margin-bottom: 5px;
  @media screen and (max-width: $phone) {
    font-size: 1.15em;
  }
}