@import "./Colors";

//Flex stuff
.center-all-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row{
  flex-direction: row;
}

.flex-column{
  flex-direction: column;
}

//Etc
.caps{
  font-variant: small-caps;
}

.section-title{
  color: $red-orange;
  span{
    margin: 0 5px;
  }
}


//Animations

//Fade In Left
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-5%, 0, 0);
    transform: translate3d(-5%, 0, 0);
  }
  25%{
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-5%, 0, 0);
    transform: translate3d(-5%, 0, 0);
  }
  25%{
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

//Fade In Right
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-5%, 0, 0);
    transform: translate3d(-5%, 0, 0);
  }
  25%{
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(5%, 0, 0);
    transform: translate3d(5%, 0, 0);
  }
  25%{
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

//Fade In Top
@-webkit-keyframes fadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -5%, 0);
    transform: translate3d(0, -5%, 0);
  }
  25%{
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -75%, 0);
    transform: translate3d(0, -75%, 0);
  }
  25%{
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}