@import "./Colors";

//Breakpoints
$phone: 767px;
$tablet-min: 768px;
$tablet-max: 991px;
$desktop: 992px;

//Flex stuff
.center-all-flex{
  display: flex;
  display: -webkit-flex; /* Safari */
  justify-content: center;
  align-items: center;
}

.flex-row{
  flex-direction: row;
}

.flex-column{
  flex-direction: column;
}

//Etc
.no-show-phone{
  @media screen and (max-width: $phone) {
    display: none;
  }
}

.no-show-tab{
  @media screen and (max-width: $tablet-max) {
    display: none;
  }
}

.center{
  text-align: center;
}

.caps{
  font-variant: small-caps;
}

.shadow{
  box-shadow: 0 1px 5px rgba(0,0,0,0.12), 0 1px 5px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.shadow-grow {
  &:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
}

.section-title{
  color: $red-orange;
  font-size: 2.5em;
  margin-bottom: 50px;
  span{
    margin: 0 5px;
  }
  @media screen and (max-width: $phone) {
    font-size: 1.75em;
    margin-bottom: 25px;
  }
}

.sub-title{
  color: $red-orange;
  font-size: 1.5em;
  margin-bottom: 5px;
  @media screen and (max-width: $phone) {
    font-size: 1.15em;
  }
}

//Animations ***includes webkit first

//Fade In Left
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-5%, 0, 0);
    transform: translate3d(-5%, 0, 0);
  }
  25%{
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-5%, 0, 0);
    transform: translate3d(-5%, 0, 0);
  }
  25%{
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

//Fade In Right
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-5%, 0, 0);
    transform: translate3d(-5%, 0, 0);
  }
  25%{
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(5%, 0, 0);
    transform: translate3d(5%, 0, 0);
  }
  25%{
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

//Fade In Top
@-webkit-keyframes fadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -5%, 0);
    transform: translate3d(0, -5%, 0);
  }
  25%{
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -75%, 0);
    transform: translate3d(0, -75%, 0);
  }
  25%{
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}