@import "../../../SharedCSS/Shared";

#container-skills{
  padding: 100px 0;
  background-image: url("../../../Assets/neon-triangle.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h2{
    border-bottom: 1px solid $dark-blue;
    display: inline;
  }
  #skills-title-secondary{
    color: $light-grey;
  }
  #container-columns{
    align-items: flex-start;
    #versioning-skills{
      margin-bottom: 20px;
    }
    ul{
      margin: 0 20px;
      @media screen and (max-width: $phone) {
        font-size: .8em;
      }
      li{
        color: $white;
      }
      i{
        color: $red-orange;
        margin: 5px 10px;
      }
    }
    #skills-img{
      @media (max-width: 768px) {
        display: none;
      }
      #skills-img-bg{
        background-image: url("../../../Assets/3px-tile.png");
        background-color: $red-orange;
        height: 250px;
        width: 250px;
        margin: 25px 0 0 120px;
      }
      img{
        height: 250px;
        margin: -225px 0 0 50px;
      }
    }
  }
}