*, .container-fluid, .col, .row, nav, img, ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none; }

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif; }

a, p {
  color: inherit; }

a:hover, a:active, a:focus {
  color: inherit;
  text-decoration: none; }

button {
  border: none;
  padding: 0 5px;
  margin: 0 5px; }
  button:hover {
    cursor: pointer; }
  button:focus {
    outline: none; }

input:enabled {
  border: none;
  outline: none; }

a:active, a:hover {
  outline: 0;
  text-decoration: none; }

a:active, a:focus {
  outline: 0;
  border: none; }

.center-all-flex {
  display: flex;
  display: -webkit-flex;
  /* Safari */
  justify-content: center;
  align-items: center; }

.flex-row {
  flex-direction: row; }

.flex-column {
  flex-direction: column; }

@media screen and (max-width: 767px) {
  .no-show-phone {
    display: none; } }

@media screen and (max-width: 991px) {
  .no-show-tab {
    display: none; } }

.center {
  text-align: center; }

.caps {
  font-variant: small-caps; }

.shadow {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.shadow-grow:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.underline, #container-header #container-nav-top ul li {
  position: relative; }
  .underline:hover, #container-header #container-nav-top ul li:hover, .underline:focus, #container-header #container-nav-top ul li:focus, .underline:active, #container-header #container-nav-top ul li:active {
    cursor: pointer; }
    .underline:hover:after, #container-header #container-nav-top ul li:hover:after, .underline:focus:after, #container-header #container-nav-top ul li:focus:after, .underline:active:after, #container-header #container-nav-top ul li:active:after {
      width: 100%; }
  .underline:after, #container-header #container-nav-top ul li:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    background-color: #FF4141;
    width: 0;
    transition: width .4s; }

.section-title {
  color: #FF4141;
  font-size: 2.5em;
  margin-bottom: 50px; }
  .section-title span {
    margin: 0 5px; }
  @media screen and (max-width: 767px) {
    .section-title {
      font-size: 1.75em;
      margin-bottom: 25px; } }

.sub-title {
  color: #FF4141;
  font-size: 1.5em;
  margin-bottom: 5px; }
  @media screen and (max-width: 767px) {
    .sub-title {
      font-size: 1.15em; } }

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-5%, 0, 0);
    transform: translate3d(-5%, 0, 0); }
  25% {
    opacity: 0; }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-5%, 0, 0);
    transform: translate3d(-5%, 0, 0); }
  25% {
    opacity: 0; }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-5%, 0, 0);
    transform: translate3d(-5%, 0, 0); }
  25% {
    opacity: 0; }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(5%, 0, 0);
    transform: translate3d(5%, 0, 0); }
  25% {
    opacity: 0; }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@-webkit-keyframes fadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -5%, 0);
    transform: translate3d(0, -5%, 0); }
  25% {
    opacity: 0; }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -75%, 0);
    transform: translate3d(0, -75%, 0); }
  25% {
    opacity: 0; }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
#container-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 900;
  padding: 10px 0;
  background-color: rgba(18, 30, 45, 0.95);
  justify-content: space-between; }
  #container-header #container-brand {
    color: #fff;
    margin-left: 20px; }
    @media screen and (max-width: 767px) {
      #container-header #container-brand {
        font-size: .75em; } }
    #container-header #container-brand #nav-logo {
      display: inline-block;
      border: 2px solid #FF4141;
      padding: 15px 5px 3px;
      margin-right: 10px; }
    #container-header #container-brand #nav-name {
      display: inline-block; }
  #container-header #container-nav-top {
    margin-right: 20px; }
    #container-header #container-nav-top ul li {
      color: rgba(255, 255, 255, 0.75);
      margin: 0 10px;
      -moz-transition: all .4s ease-in;
      -o-transition: all .4s ease-in;
      -webkit-transition: all .4s ease-in; }
      #container-header #container-nav-top ul li:hover {
        color: #fff; }
    @media (max-width: 767px) {
      #container-header #container-nav-top {
        display: none; } }

/*# sourceMappingURL=Header.css.map */
