@import "../../../SharedCSS/Shared";


#container-about{
  padding: 50px 0;
  #about-title{
    font-size: 2.5em;
    margin-bottom: 30px;
    #focus{
      animation-name: fadeInLeft;
      animation-duration: 5s;
    }
    #perseverance{
      animation-name: fadeInLeft;
      animation-duration: 6s;
    }
    #passion{
      animation-name: fadeInLeft;
      animation-duration: 7s;
    }
    @media (max-width: $phone) {
      font-size: 1.25em;
    }
  }
  p{
    color: $light-grey;
    font-size: 1.25em;
    width: 50%;
    text-align: center;
    animation-name: fadeInRight;
    animation-duration: 7s;
    @media (max-width: $phone) {
      font-size: 1em;
      width: 90%;
    }
  }
}