@import "../../../SharedCSS/Shared";

#container-work {
  padding: 100px 0;
  width: 100%;
  text-align: center;
  h2 {
    border-bottom: 1px solid $off-white;
    display: inline;
  }

  #container-projects {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .project-card {
      display: flex;
      flex-direction: row;
      margin: 40px;
      padding: 10px;
      width: 40%;
      border-radius: 3px;
      background-color: $white;
      .wrapper-img{
        .project-img {
          border-radius: 3px;
          width: 100%;
        }
      }


      .project-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        cursor: default;
        padding: 10px 20px;
        width: calc(50% - 60px);
        .project-description {
          //paragraph fill remaining space --not currently used
          //flex: 1 0 auto;
          justify-self: center;
          display: flex;
          justify-content: center;
          text-align: left;
          flex-direction: column;

          h3 {
            color: $off-black;
            font-size: 1.25rem;
          }

          span {
            content: "";
            border-bottom: 2px solid $red-orange;
            width: 20%;
            margin: 5px 0;
          }

          p {
            color: $light-grey;
            font-size: 1rem;
          }
        }

        .project-buttons {
          display: flex;
          align-items: center;

          .project-button {
            border-radius: 3px;
            padding: 10px 15px;
            margin-right: 30px;
            color: $light-grey;
            display: flex;
            align-items: center;
            font-size: .85rem;
            font-weight: 700;
            letter-spacing: .5px;
            line-height: 1;

            &:last-of-type {
              background-color: $dark-blue;
              color: $off-white;

              i {
                color: $red-orange;
              }
            }

            &:hover {
              @extend .transition;
              cursor: pointer;
              color: $red-orange;
            }

            i:first-of-type {
              margin-right: 5px;
            }
            i:last-of-type {
              margin-left: 5px;
            }
          }

        }

        @media screen and (max-width: $tablet-max) {
          padding: 0;
          .project-description{
            padding: 5px 10px;
          }
          .project-buttons {
            justify-content: space-evenly;
            .project-button {
              margin: 0;
            }
          }
        }
      }

      @media screen and (max-width: $tablet-max) {
        flex-direction: column;
        .project-body {
          width: 100%;
          .project-description {
            margin: 20px 0;
          }

          .project-buttons {
            margin: 0 -10px -10px -10px;
            padding: 20px 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $phone) {
  #container-work {
    margin: 0;
    width: 100%;

    #container-projects {
      .project-card {
        width: 100%;
      }
    }
  }
}

//Custom 1024px max for iPad pro
@media screen and (min-width: $tablet-min) and (max-width: 1024px) {
  #container-work {
    margin: 0;
    width: 100%;

    #container-projects {
      .project-card {
        width: 50%;
        .project-body {
          width: 100%;
        }
      }
    }
  }
}