@import "../../../SharedCSS/Shared";

#container-work {
  padding: 50px 0;
  width: 80%;
  margin-left: 10%;
  #container-projects{
    flex-wrap: wrap;
    .project-card {
      margin: 20px;
      padding: 10px;
      width: 25%;
      border-radius: 3px;
      align-self: flex-start;
      .project-img{
        border-radius: 3px;
        width: 100%;
      }
      h3{
        padding: 10px 0 5px 0;
        color: $red-orange;
      }
      p{
        flex: 1 0 auto;
        width: 80%;
        margin-bottom: 40px;
      }
      .project-buttons{
        text-align: center;
        padding: 20px;
        .project-button{
          border-radius: 3px;
          padding: 10px 20px;
          margin: 0 20px;
          i{
            margin-right: 5px;
            color: $red-orange;
          }
          color: $dark-blue;
          background-color: $off-white;
          &:hover{
            cursor: pointer;
            @extend .shadow;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $phone) {
  #container-work{
    margin: 0;
    width: 100%;
    #container-projects{
      .project-card{
        width: 100%;
      }
    }
  }
}
@media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
  #container-work{
    margin: 0;
    width: 100%;
    #container-projects{
      .project-card{
        width: 40%;
      }
    }
  }
}