@import "../../../SharedCSS/Shared";

#container-work {
  padding: 100px 0;
  width: 100%;
  text-align: center;
  h2{
    border-bottom: 1px solid $off-white;
    display: inline;
  }
  #container-projects{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .project-card {
      display: flex;
      flex-direction: row;
      margin: 40px;
      padding: 10px;
      width: 40%;
      border-radius: 3px;
      .project-img{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 3px;
        height: 200px;
        margin-right: 10px;
      }
      .project-body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        cursor: default;
        .project-description{
          //paragraph fill remaining space --not currently used
          //flex: 1 0 auto;
          justify-self: center;
          display: flex;
          justify-content: center;
          text-align: left;
          flex-direction: column;
          h3{
            padding: 0 5px 5px 5px;
            color: $off-black;
            font-size: 1.25rem;
          }
          span{
            content: "";
            border-bottom: 2px solid $red-orange;
            width: 20%;
            margin: 5px;
          }
          p{
            padding: 5px;
            color: $light-grey;
            font-size: 1rem;
          }
        }
        .project-buttons{
          padding: 10px 0;
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px;
          background-color: $dark-blue;
          display: flex;
          align-items: center;
          justify-content: space-around;
          .project-button{
            border-radius: 25px;
            padding: 5px 10px;
            color: $light-grey;
            background-color: $off-white;
            display: flex;
            align-items: center;
            &:hover{
              cursor: pointer;
              color: $dark-grey;
            }
            i{
              margin-right: 5px;
              padding: 6px;
              border-radius: 50%;
              font-size: .9rem;
              background-color: $red-orange;
              color: $off-white;
            }
            .fa-external-link-alt{
              font-size: .75rem;
              padding: 7px;
            }
            @media screen and (max-width: $phone) {
              padding: 5px 15px;
              margin: 0 10px;
            }
          }
        }
    }
      @media screen and (max-width: $tablet-max) {
        flex-direction: column;
        .project-body{
          .project-description{
            margin: 20px 0;
          }
          .project-buttons{
            margin: 0 -10px -10px -10px;
            padding: 20px 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $phone) {
  #container-work{
    margin: 0;
    width: 100%;
    #container-projects{
      .project-card{
        width: 100%;
      }
    }
  }
}
//Custom 1024px max for iPad pro
@media screen and (min-width: $tablet-min) and (max-width: 1024px) {
  #container-work{
    margin: 0;
    width: 100%;
    #container-projects{
      .project-card{
        width: 50%;
        .project-body{
          width: 100%;
        }
      }
    }
  }
}